.category__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.category {
    width: 374px;
    height: 101px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    color: #141414;
    display: flex;
    align-items: center;
    padding: 35px 40px;
    background: #F7F7F7;
    border: none;
    border-radius: 23px;
    transition: 0.3s all;
}


.category__icon {
    padding-right: 29px;
    
}

.category:hover {
    background: linear-gradient(239.09deg, #37AEE2 1.09%, #1E96C8 88.94%);
    color: #FFFFFF;
    fill: #FFFFFF;
}

.category__button {
    width: 234px;
    height: 60px;
    background: #F7F7F7;
    border: none;
    border-radius: 9px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 152.7%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #141414;
    transition: 0.3s all;
}

.category__button:hover {
    background: linear-gradient(241.57deg, #37AEE2 2.93%, #1E96C8 103.57%);
    color: #FFFFFF;
}
