.categories {
    padding-top: 40px;
}

.categories .h2 {
    padding-bottom: 55px;
}

.categories .category__wrapper {
    padding-bottom: 30px;
}

.categories__footer {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}