@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Bold.eot');
    src: local('Cera Pro Bold'), local('CeraPro-Bold'),
        url('../fonts/CeraPro-Bold.woff') format('woff'),
        url('../fonts/CeraPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Regular.eot');
    src: local('Cera Pro Regular'), local('CeraPro-Regular'),
        url('../fonts/CeraPro-Regular.woff') format('woff'),
        url('../fonts/CeraPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container {
    max-width: 1160px;
    height: 100%;
    margin: 0 auto;
}

.promo__container {
    display: flex;
}

.phone {
    width: 580.5px;
    height: 714.5px;
    padding-top: 190.5px;
    left: 0;
}

.button {
    width: 270px;
    height: 68px;
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 152.7%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #195168;
    border: none;
    border-radius: 15px;
}

.button_link {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 152.7%;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #B6E1FF;
    padding-left: 44px;
}

.promo__text-container {
    padding-left: 60px;
}

.arrows {
    height: 52px;
    padding-top: 810px;
}

/* @import './menu.css'; */