.promo {
    background-image: url('../img/background-promo.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1920px;
    height: 905px;
}