.telegrator {
    padding-top: 84px;
    position: relative;
    
}

.telegrator__wrapper {
    margin-top: 25px;
    display: flex;
}

.telegrator__clouds {
    position: absolute;
    top: 130px;
    z-index: -1;
}

.telegrator__text-container {
    margin-left: 62px;
}

.telegrator__main-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #141414;
    padding-bottom: 20px;
}

.telegrator .h2 {
    margin-bottom: 45px;
} 
