.categories {
    margin-top: 40px;
    .h2 {
        padding-bottom: 55px;
    }
    .category__wrapper {
        padding-bottom: 30px;
    }
    &__footer {
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }
}

